<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <link href="/css/styles.css" rel="stylesheet" media="screen" type="text/css"/>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
    $(function() {
        setInterval(loadTable,10000);  // invoke load every second
        loadTable(); // load on initial page loaded
    });

    function loadTable() {
        $('#track').load(window.location.href + ' #info');
    }
  </script>
</head>
<body>

  <div id="block">
    Now playing...
  </div>

  <div id="track">
    <div id="info">
      <div id="trackName">
        <img class="icon" src="/images/song.png" /><%= trackName %>
      </div>

      <div id="trackArtist">
        <img class="icon" src="/images/artist.png" /><%= trackArtist %>
      </div>

      <div id="trackAlbum">
        <img class="icon" src="/images/album.png" /><%= trackAlbum %>
      </div>
    </div>
  </div>

  <div id="block">
    Powered by iTunes and <a href="/sinatra">Sinatra</a>.
  </div>
</body>
</html>
