body {
  background-color: #eee;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 3em;
  margin: 0px !important;
}

img.logo {
  width: 100px;
  height: 100px;
}

a {
  color: inherit;
}

a:hover {
  color: #ff4040;
}

#track {
  margin-top: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: whitesmoke;
  padding: 5% 10% 5% 10%;
}

#trackName {
  color: #ff4040;
  /*text-shadow: 1px 1px #999;*/
  font-size: .8em;
}

#trackAlbum, #trackArtist {
  font-size: .6em;
  padding-top: 2px;
}

img.icon {
  margin-bottom: .1em;
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

#block {
  margin: 10px;
  font-size: .5em;
  text-align: center;
}

@media only screen and (max-device-width: 480px) {

  img.icon {
    margin-bottom: .1em;
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }

  body {
    font-size: 7em;
  }

  #track {
    padding-left: 5%;
  }

}
